@page
@functions
{
  public string DayName { get; set; }

  public void OnGet()
  {
    ViewData["Title"] = "Library of Gagel Website"; 
    Model.DayName = DateTime.Now.ToString("dddd");
  }
}
<div class="jumbotron">
  <h1 class="display-3">Welcome to the Library of Gagel!</h1>
  <p class="lead">Books for everyone!</p>
  <hr />
  <p>It's @Model.DayName!</p>
  <p>
    <a class="btn btn-primary" 
       href="BookList">Look at your books</a>
  </p>
  <p>
    <a class="btn btn-primary" href="titles">
      Check out our books
    </a>
  </p>
</div>