@model Packt.Shared.Title
<div class="card border-dark mb-3" style="max-width: 18rem;">
  <div class="card-header">@Model.title</div>
  <div class="card-body text-dark">
    <h5 class="card-title">@Model.author</h5>
    <p class="card-text">@Model.summary</p>
  </div>
</div>